/* Back Ground */
body {
    background-color: #F2E6D8;
}

/* Navbar */
.navbar {
    background-color: #000000;

}

a:hover {
    color: #F2E6D8;
}

.navbar-brand {
    font-family: 'Rubik Wet Paint', cursive;
    font-size: 30px;
    color: #A93939;
}

.navbar-nav .nav-link {
    font-size: 20px;
    color: #ffffff;
}

/* Jumbotron */
.jumbotron {
    background: url("../assets/images/mma-background.jpg") no-repeat center center fixed;
    background-color: #000000;
    background-size: contain;
    height: 700px;
    display: flex;
    color: #F2E6D8;
    text-align: center;

}

.jumbotron h1 {
    font-size: 100px;
    font-family: 'Roboto Slab', serif;
    
}

/* Section Heading */
.section-heading {
    text-align: center;
    margin-bottom: 3rem;
}

.section-heading h2 {
    font-size: 40px;
    font-weight: bold;
    color: #343a40;
    font-family: 'Roboto Slab', serif;
}

/* Classes Content */
.classes-content {
    padding: 20px;
}

.classes-content p {
    font-size: 20px;
    color: #ffffff;
    background-color: #A93939;
}

/* Card Styles */
.card {
    margin-bottom: 100px;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}

.card-title {
    font-weight: bold;
    font-size: 20px;
}

.card-text {
    font-size: 15px;
}

.card-body {
    background-color: #A93939;
}

/* Team Section */

.team-section {
    margin-left: 100px;
    margin-right: 100px
}

.team-section h2 {
    margin-top: 100px;
    margin-bottom: 80px;
}

.boxing-coach {
    height: 300px;
    width: 250px;
    margin-bottom: 30px;
    margin-left: 150px;

}


.bjj-coach {
    height: 300px;
    width: 250px;
    margin-bottom: 30px;
    margin-left: 150px;
}

.freestyle-coach {
    height: 300px;
    width: 250px;
    margin-bottom: 30px;
    margin-left: 150px;
}

.muaythai-coach {
    height: 300px;
    width: 250px;
    margin-bottom: 30px;
    margin-left: 150px;
}

.team-section p {
    background-color: #A93939;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 100px;
}

/* Footer */

.footer {
    background-color: black;
    color: #F2E6D8;
    padding: 20px;
    text-align: center;
  }
  
  .footer a {
    color: #A93939;
    text-decoration: none;
  }
  
  .footer .social-links {
    margin-top: 10px;
  }
  
  .footer .social-links a {
    display: inline-block;
    margin: 0 5px;
    width: 30px;
    height: 30px;
    background-color: #A93939;
    border-radius: 50%;
    color: off-white;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .footer .social-links a:hover {
    background-color: #F2E6D8;
    color: #A93939;
  }