/* Navbar */
.navbar {
    background-color: #000000;

}

a:hover {
    color: white
}

.navbar-brand {
    font-family: 'Rubik Wet Paint', cursive;
    font-size: 30px;
    color: rgb(182, 1, 1)
}

.navbar-nav .nav-link {
    font-size: 20px;
    color: rgba(230, 230, 230, 0.956);
}

/* Jumbotron */
.jumbotron {
    background: url("../assets/images/mma-background.jpg") no-repeat center center fixed;
    background-color: #000000;
    background-size: contain;
    height: 700px;
    display: flex;
    color: rgba(230, 230, 230, 0.956);
    text-align: center;

}

.jumbotron h1 {
    font-size: 100px;
    font-family: 'Roboto Slab', serif;
    
}

/* Section Heading */
.section-heading {
    text-align: center;
    margin-bottom: 3rem;
}

.section-heading h2 {
    font-size: 40px;
    font-weight: bold;
    color: #343a40;
    font-family: 'Roboto Slab', serif;
}

/* Section Content */
.section-content {
    padding: 20px;
}

.section-content p {
    font-size: 20px;
    color: #343a40;
}

/* Card Styles */
.card {
    margin-bottom: 100px;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}

.card-title {
    font-weight: bold;
    font-size: 20px;
}

.card-text {
    font-size: 15px;
}

/* Team Section */

.team-section {
    margin-left: 100px;
}

.team-section h2 {
    margin-top: 120px;
    margin-bottom: 100px;
}

.boxing-coach {
    height: 250px;
    width: 200px;
    margin-bottom: 30px;

}

.bjj-coach {
    height: 250px;
    width: 200px;
    margin-bottom: 30px;
}

.freestyle-coach {
    height: 250px;
    width: 200px;
    margin-bottom: 30px;
}