/* Back Ground */
body {
    background-color: #F2E6D8;
}

/* Navbar */
.navbar {
    background-color: #000000;
    height: 100px;
}

a:hover {
    color: #F2E6D8;
}

.navbar-brand {
    font-family: 'Rubik Wet Paint', cursive;
    font-size: 30px;
    color: #A93939;
    letter-spacing: 1px;
}

.navbar-nav .nav-link {
    font-size: 20px;
    font-weight: 200;
    color: #ffffff;
    background-color: black;
    padding-left: 10px;
}


.navbar-dark .navbar-brand {
    color: #A93939;
}

.nav-link:focus, .nav-link:hover {
    text-decoration: underline;
    text-decoration-color: #A93939;
}

.material-symbols-outlined {
    font-size: 30px;
}

/* Jumbotron */
.jumbotron {
    background: url("../assets/images/mma-background.jpg") no-repeat center center fixed;
    background-color: #000000;
    background-size: contain;
    height: 700px;
    display: flex;
    color: #F2E6D8;
    text-align: center;
    margin-bottom: 100px;

}

.jumbotron h1 {
    font-size: 100px;
    font-family: 'Roboto Slab', serif;
    
}

/* Modal */

.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: #A93939;
    margin: auto;
    padding: 20px;
    border: 1px solid #F2E6D8;
    width: 80%;
  }

  button#myBtn {
    background-color: #F2E6D8;
    color: #A93939;
    height: 80px;
    width: 150px; 
    font-size: 30px;
    border: #A93939 1px;
    border-radius: 50px;
    margin-top: 200px;
  }
  
  .close {
    color: #030303;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #040404;
    text-decoration: none;
    cursor: pointer;
  }
/* Student Quotes */


.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    margin: auto;  
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-card-front {
    background-color: #bbb;
    color: black;
  }

  .flip-card-back {
    background-color: #A93939;
    color: white;
    transform: rotateY(180deg);
    height: 300px;
    width: 300px;
  }

section.quote-card {
    margin-bottom: 100px;
}



.quote-card h2 {
    margin-bottom: 100px;
    margin-left: 50px;
    font-family: 'Roboto Slab', serif;
}


#card-container {
    width: 80%;
    text-align: center;
    margin: auto;
  }
  
  .student-adult {
        height: 300px;
        width: 300px;
}

.student-child {
    height: 300px;
    width: 300px;
}
  
  .card-student  {
    display:inline-block;
    background:#F2E6D8;
    color:white;
    margin: 10px;
    height: 300px;
    width: 300px;
  }

/* Section Heading */
.section-heading {
    text-align: center;
    margin-bottom: 3rem;
}

.section-heading h2 {
    font-size: 40px;
    font-weight: bold;
    color: #343a40;
    font-family: 'Roboto Slab', serif;
    margin-top: 100px;
    margin-bottom: 100px;
}

/* Classes Content */
.classes-content {
    padding: 20px;
}

.classes-content p {
    font-size: 20px;
    color: #ffffff;
    background-color: #A93939;
    font-family: 'PT Sans', sans-serif;
}

#class-times p {
    font-size: 15px;
}

/* Card Styles */
.card {
    margin-bottom: 100px;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}

.card-title {
    font-weight: bold;
    font-size: 20px;
}

.card-text {
    font-size: 15px;
}

.card-body {
    background-color: #A93939;
}

/* Team Page */

.team-content {
    margin-left: 100px;
    margin-right: 100px
}

.team-content p {
    background-color: #A93939;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 100px;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    width: fit-content;
}

.team-content h2 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #343a40;
    margin-top: 100px;
    margin-bottom: 100px;
}


.boxing-coach {
    max-height: 375px;
    width: 300px;
    max-width: 100%;
    margin-bottom: 30px;
}


.bjj-coach {
    height: auto;
    width: 300px;
    max-width: 100%;
    margin-bottom: 30px;
}

.freestyle-coach {
    max-height: 375px;
    width: 300px;
    max-width: 100%;
    margin-bottom: 30px;
    
}

.muaythai-coach {
    height: auto;
    width: 300px;
    max-width: 100%;
    margin-bottom: 30px;
 
}


/* About Page */
.about-content {
    margin-top: 100px;
}

.about-content h2 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #343a40;
    margin-bottom: 100px;
    margin-top: 100px;
}

.about-content p {
    background-color: #A93939;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 50px;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
}

.about-content img {
    height: auto;
    width: 100%;
    margin-bottom: 80px;
}




/* Footer */

.footer {
    background-color: black;
    color: #F2E6D8;
    padding: 20px;
    text-align: center;
    margin-top: auto;
  }
  
  .footer a {
    color: #A93939;
    text-decoration: none;
  }
  
  .footer .social-links {
    margin-top: 10px;
  }
  
  .footer .social-links a {
    display: inline-block;
    margin: 0 5px;
    width: 30px;
    height: 30px;
    background-color: #A93939;
    border-radius: 50%;
    color: #F2E6D8;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .footer .social-links a:hover {
    background-color: #F2E6D8;
    color: #A93939;
  }

/* Contact Page */

.map {
    max-height: 500px;
    height: auto;
    max-width: 100%;
}

.contact-section {
    max-height: 200px;
    height: auto;
    background-color: #A93939;
   
}

.contact-section h5 {
    font-size: 20px;
    padding-top: 20px;
    text-align: center;
}

.contact-section p {
    font-size : 18px;
    font-family: 'PT Sans', sans-serif;
    color: #fff;
    text-align: center;
    height: 100%;
   
}

.contact-section i {
    color: white;
}

  /* Media Quiries */

  @media (max-width: 770px) {
    section.quote-card {
        height: 1100px;
    }
  }

  @media (max-width: 770px) {
    .contact-section {
      max-height: 400px;
      margin-top: 10px;
    }
  }    

  @media screen and (max-width: 900px) {
    .card-student {
      display: block;
      margin: 10px auto;
    }
    section.quote-card {
        height: 1100px;
    }

  } 